:root{
    --header: #071739;
    --background: #4b6382;
    --hover: #a68868;
    --text: #cdd5db;
    --black: #000;
    --border: #e3c39d;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    animation: fadeIn .5s ease-in-out;
}

@keyframes fadeIn {

    0%{
       opacity: 0.2;
    
    }

    100%{
      opacity: 1.5 ;
    }
}

.inicio{  
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    background-color: var(--header);
    
}

.imgInicio{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 2px var(--border);
    box-shadow: 0 0 20px var(--black);
}

.inicio h2{
   color: var(--text);
   text-shadow: 0  0 5px var(--black);
   font-family: "Montserrat", sans-serif;
}

h1{
   color: var(--text);
   font-family: "Montserrat", sans-serif;
}

h1 span{
  color: var(--hover);
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  border-bottom: solid 1px var(--hover);
}

.inicio h3{
    color: var(--background);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.projetoSection{
    display: none;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    gap: 10px;  
}

.projeto{
    background-color: var(--header);
    overflow: hidden;
    border: solid 1px var(--hover);
    padding: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--text);
    font-family: "Montserrat", sans-serif;
    -webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
            min-height: 200px;
    
}

@-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

.projeto img{
    height: 110px;
    width: 100%;    
    border: solid 1px var(--header);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--black);
    display: flex;
    margin: 0 auto;
}

.description{
    font-size: 13px;
    border-top: solid 1px var(--border);
    border-bottom: solid 1px var(--border);
    padding: 4px 0;
    margin: 4px 0;
    height: 120px;
}


.verProjeto{
    background-color: var(--hover);
    border-radius: 5px;
    border:solid 1px var(--black);
    padding: 3px 0;
    text-transform: uppercase;
    cursor: pointer;
}

.verProjeto a{
        color: var(--header);
}
 
.sobre{
    display: none;
    flex-direction: column;
    gap: 20px;
    margin:60px 10px;
    justify-content: center;
    align-items: center;

}

.info{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 10px;
    text-align: center;
    gap: 20px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: var(--header);
    -webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  @keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }

.info ul{
    color: var(--text);
    list-style: none;
}

.sobreMim{
    background-color: var(--header);
    border-radius: 8px;
    padding: 5px;
    border: solid 1px var(--black);
    font-family: "Poppins", sans-serif;
    color: var(--text);

}


.contato {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    list-style: none;
    height: 100vh;
}

.contato div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    transition: all .3s ease-in-out;
    -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.contato div:hover{
    transform: translateY(-7px);
    
}

@-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }

.contato a{ 
   color: var(--hover); 
   cursor: pointer; 
}

.contato img{
    width: 50px;
    background-color: var(--background);
    display: flex;
    padding:4px;
    border-radius: 8px; 
    cursor: pointer;  
}

.wpp{
  display: flex;
  gap: 5px;
  align-items: center;
}